{extend name='../../admin/view/table'}
{block name="style"}
{if isset($heightstyle)}
{$heightstyle|raw}

{/if}
<style>
    .text-btn{
        color: #1E9FFF;
        margin: 0 5px;
    }
</style>
{/block}

{block name="button"}

{if !isset($hideButtonAdd) }
<button {if isset($formType) && $formType="open"}data-open='{:url("add")}'{else}data-modal='{:url("add")}'{/if} data-title="添加" class='layui-btn layui-btn-sm layui-btn-primary'>添加</button>
{/if}

{if isset($allBtn)}
{$allBtn|raw}
{/if}
{/block}

{block name="content"}


<div class="layui-tab layui-tab-card">
    <div class="layui-tab-content">
        {if isset($search)}

        <form class="layui-form layui-form-pane form-search" action="{:sysuri()}" onsubmit="return false" method="get" autocomplete="off">
            {foreach $search as $val}

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">{$val.title}</label>
                {if $val.type eq 'linkage3'}

                <div class="layui-input-inline">
                    <select name="{$val['param'][0]['field']}" lay-filter="{$val['param'][0]['field']}" lay-search="">
                        <option value="">请选择</option>
                        {foreach $val['option'] as $v}
                        <option value="{$v['value']}">{$v['label']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="{$val['param'][1]['field']}" lay-filter="{$val['param'][1]['field']}" lay-search="">
                        <option value="">请选择</option>
                    </select>
                </div>

                <div class="layui-input-inline">
                    <select name="{$val['param'][2]['field']}" lay-filter="{$val['param'][2]['field']}" lay-search="">
                        <option value="">请选择</option>
                    </select>
                </div>

                <script>
                    function ajaxlist{$val['name']}(pid,parent) {

                        $.form.load('{$val['ajaxurl']}', {pid:pid}, "get", function(ret) {
                            var field1 = '{$val['param'][1]['value']}'
                            var field2 = '{$val['param'][2]['value']}'
                            var field_value = 0;
                            if(parent == 1){
                                field_value = field1
                            }else{
                                field_value = field2
                            }
                            var h ='<option value="">请选择</option>'
                            ret.info.forEach(function(val){
                                if(field_value == val.value){
                                    h +='<option value="'+val.value+'" selected>'+val.label+'</option>'
                                }else{
                                    h +='<option value="'+val.value+'">'+val.label+'</option>'
                                }
                            })
                            if(parent == 1){
                                $('[name="{$val['param'][1]['field']}"]').html(h)
                                if(field_value){
                                    ajaxlist{$val['name']}(field_value,2)
                                }
                            }else{
                                $('[name="{$val['param'][2]['field']}"]').html(h)
                            }
                            layui.form.render('select');
                            return false
                        }, null, null, 'false');
                    }
                    $(function() {
                        // 数据状态切换操作
                        layui.form.on('select({$val['param'][0]['field']})', function (obj) {

                            ajaxlist{$val['name']}(obj.value,1)

                        });
                        layui.form.on('select({$val['param'][1]['field']})', function (obj) {

                            ajaxlist{$val['name']}(obj.value,2)

                        });
                        if($('[name="{$val['param'][0]['field']}"]').val()){
                            ajaxlist{$val['name']}($('[name="{$val['param'][0]['field']}"]').val(),1)
                        }

                    })

                </script>
                {else}


                <label class="layui-input-inline">

                    {if $val.type eq 'select'}
                    <select name="{$val.name}" lay-search class="layui-select">
                        <option value=''>-- {:lang('全部')} --</option>
                        {foreach $val.option as $v}
                        {if ($v.value eq input($val.name)) && input($val.name)!==null}
                        <option selected value="{$v.value|default=''}">{$v.label|default=''}</option>
                        {else}
                        <option value="{$v.value|default=''}">{$v.label|default=''}</option>
                        {/if}
                        {/foreach}
                    </select>
                    {elseif $val.type eq 'dateRang'}
                    <input data-date-range name="{$val.name}" value="{:input($val['name'])}" placeholder="{:lang('请选择时间')}" class="layui-input">
                    {elseif $val.type eq 'input'}
                    <input type="text" name="{$val.name}" value="{:input($val['name'])}" class="layui-input">
                    {/if}
                </label>
                {/if}
            </div>
            {/foreach}
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> {:lang('搜 索')}</button>
            </div>
        </form>
        {/if}
        {php}
        if(isset($tableId)){
            $tid = $tableId;
        }else{
            $tid = "listTable";

        }
        {/php}
        <table id="{$tid}"  lay-filter="listTable" data-url="{:sysuri('',input('get.'))}" data-target-search="form.form-search"></table>

    </div>

</div>
<script>
    var util
    layui.use(['util'],function () {
        util = layui.util
    })
    function apiFormat(d){
        return util.escape(d.api);
    }
    function htmlspecialchars_decode(str){
        str = str.replace(/&amp;/g, '&');
        str = str.replace(/&lt;/g, '<');
        str = str.replace(/&gt;/g, '>');
        str = str.replace(/&quot;/g, "''");
        str = str.replace(/&#039;/g, "'");
        return str;
    }

    var cols = new Array()
</script>

{foreach $tableHeader as $val}

<script>

    var item = {
        field:'{$val.field}',
        title:'{$val.title}',
    }
</script>
{if isset($val.width)}
<script>
    item['width'] = parseInt('{$val.width}');
</script>
{/if}
{if isset($val['templet'])}
<script>
    item['templet'] = {$val['templet']|raw};
</script>
{/if}
{if isset($val['isedit'])}
<script>
    item['edit'] = "text"
</script>
{/if}
<script>
    cols.push(item)
</script>
{if isset($val['templet'])}
{if isset($val['templetType'])}
    {if $val['templetType'] == 'img'}
<script type="text/html" id="{:str_replace(["'#","'"],"",$val['templet'])}">
    {{# if(d.img){ }}
    <div><a target="_blank" data-tips-hover data-tips-image="{{d.img}}"><img src="{{d.img}}" height="60" alt=""></a></div>

    {{# }else{ }}
        -
    {{# } }}
</script>
{elseif $val['templetType'] == 'StatusSwitchTpl'}
    <script type="text/html" id="{:str_replace(["'#","'"],"",$val['templet'])}">
        <input type="checkbox" value="{{d.id}}"  lay-skin="switch" lay-text="{:lang('启用')}|{:lang('禁用')}" lay-filter="StatusSwitch" {{-d.status>0?'checked':''}}>

    </script>

{/if}


{/if}

{/if}
{/foreach}

<script type="text/html" id="{$tid}toolbar">
    {if !isset($hideButtonAdd) }
    <a class="layui-btn layui-btn-sm" data-event-dbclick data-title="{:lang('编辑')}" {if isset($formType) && $formType="open"}data-open='{:url("edit")}?id={{d.id}}'{else}data-modal='{:url("edit")}?id={{d.id}}'{/if}>{:lang('编 辑')}</a>
    {/if}
    {if !isset($hideButtonDel) }
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="{:lang('确定要永久删除吗？')}" data-action="{:url('remove')}" data-value="id#{{d.id}}">{:lang('删 除')}</a>
    {/if}
    {if isset($button_list)}
    {$button_list|raw}
    {/if}
</script>
        {if $actionminwidth != 'none'}
        <script>
            cols.push({toolbar: '#{$tid}toolbar', title: '{:lang("操作面板")}', align: 'center', minWidth: '{$actionminwidth}', fixed: 'right'})

        </script>
        {/if}
<script>
    var tableIns
    $(function () {
        tableIns = $('#{$tid}').layTable({
            even: true,
            height: 'full',
            toolbar:true,
            sort:{},
            where:{},
            loading:false,
            cols:[cols],
            done:function (r) {

            }
        })
        
        $('#{$tid}').trigger('edit', function (item) {

            $.form.load('{:url("editField")}', {
                id:item.data.id,
                field:item.field,
                value:item.value
            }, "post", function (ret) {

            }, null, null, 'false');


        })

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj) {
            var data = {id: obj.value, value: obj.elem.checked > 0 ? 1 : -1,field:'status'};

            $.form.load('{:url("editField")}', data, "post", function (ret) {

            }, null, null, 'false');

        });
    })
    function shuaxin() {

        $.layTable.reload('{$tid}')
    }
</script>
{/block}